.wrapper
  clearfix()
  position relative
  max-width $wrapper
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto

body
  background #111111
  color #fff
  text-align center

.iScrollVerticalScrollbar.iScrollLoneScrollbar
  opacity 0 !important
.fp-auto-height-responsive.fp-section,
.fp-auto-height-responsive .fp-slide,
.fp-auto-height-responsive .fp-tableCell
  @media screen and (max-height: 679px)
    height auto !important

.prod-index
  background #111
  position relative
  z-index 10
@media screen and (max-width: 420px)
  .fp-viewing-7,
  .fp-viewing-8,
  .fp-viewing-9,
  .fp-viewing-10,
  .fp-viewing-11,
  .fp-viewing-12,
  .fp-viewing-13,
  .fp-viewing-14,
  .fp-viewing-15,
  .fp-viewing-16
    #header .logo
      opacity 0
      visibility hidden
      transition-delay 0