#header
  position fixed
  left 0
  top 0
  width 100%
  z-index 100
  text-align right
  height 50px
  line-height 50px
  opacity 0
  @media screen and (min-width: 1240px)
    height 140rem
  .wrapper
    max-width none
  .logo
    position absolute
    left 10px
    top 50%
    width 120px
    height 38px
    margin-top -19px
    z-index 74
    visibility visible
    transition visibility 0s linear 0s, opacity 500ms ease-in
    transition-delay 1s
    @media screen and (min-width: 768px)
      width 145px
      height 46px
      margin-top -18px
    @media screen and (min-width: 1240px)
      width 253rem
      height 80rem
      top 0
      left 60rem
      margin-top 36rem
    @media screen and (max-height: 400px)
      display none !important
    body.fp-viewing-0 &
      opacity 0 !important
      visibility hidden
      transition visibility 0s linear 500ms, opacity 500ms
      transition-delay 0
    a, img
      display block
    img
      max-width 100%
  .btn-nav
    anim()
    overflow hidden
    position absolute
    height 50px
    width 50px
    right 0
    top 0
    z-index 75
    @media screen and (min-width: 1240px)
      display none
    &:after
      anim()
      content ''
      position absolute
      right 0
      bottom 0
      height 1px
      background #b3b3b3
      width 0
      display none
    &.is-open
      &:after
        width 100%
      a
        span
          opacity 0
          transform translateX(-5px)
        &:after
          transform rotate(135deg) translate(-6px, 6px)
        &:before
          transform rotate(-135deg) translate(-6px, -6px)
    a
      position relative
      display block
      width 50px
      height 100%
      float right
      cursor pointer
      background none
      &:after,
      &:before,
      span
        anim()
        content ''
        position absolute
        left 50%
        width 30px
        margin-left -15px
        height 3px
        background #c2c2c2
      &:before
        top 15px
      &:after
        bottom 15px
      span
        top 50%
        margin-top -1.5px

  nav
    transition transform 0.3s ease-in, opacity 1s ease-in
    position absolute
    left 0
    top 0px
    width 100%
    background #1a1717
    z-index 50
    transform translateY(-100%)
    @media screen and (min-width: 1240px)
      clearfix()
      transform translateY(0%)
      background none
      position relative
      top 0
      left 0
      transition-delay 1s
      body.fp-viewing-0 &
        opacity 0 !important
        visibility hidden
        transition visibility 0s linear 500ms, opacity 500ms
        transition-delay 0
    &.is-open
      transform translateY(0%)
      z-index 74
  ul
    display block
    text-align left
    padding 10px 0
    @media screen and (min-width: 1240px)
      clearfix()
      float right
      padding 0
    li
      @media screen and (min-width: 1240px)
        float left
        margin 30rem
      button
        anim()
        display block
        line-height 1
        color #8b8b8b
        font-size 18px
        padding 15px
        background none
        border none
        @media screen and (min-width: 1240px)
          padding 30rem 15rem
          font-size 18rem
        @media screen and (max-height: 300px)
           padding 10px 15px
        &:hover
          color #b1b1b1
          span
            &:after,
            &:before
              width 0%
        span
          position relative
          font-family 'Roboto Condensed', sans-serif
          &:after,
          &:before
            anim()
            content ''
            position absolute
            bottom 0
            width 50%
            height 1px
            background @color
          &:after
            left 50%
          &:before
            right 50%
@media screen and (min-width: 768px)
  body.fp-viewing-1 #main-nav-prods span
    color #b1b1b1
    &:after,
    &:before
      width 0%
  body.fp-viewing-2 #main-nav-servs span,
  body.fp-viewing-3 #main-nav-servs span,
  body.fp-viewing-4 #main-nav-servs span,
  body.fp-viewing-5 #main-nav-servs span,
  body.fp-viewing-6 #main-nav-servs span
    color #b1b1b1
    &:after,
    &:before
      width 0%
  body.fp-viewing-8 #main-nav-works span,
  body.fp-viewing-9 #main-nav-works span,
  body.fp-viewing-10 #main-nav-works span,
  body.fp-viewing-11 #main-nav-works span,
  body.fp-viewing-12 #main-nav-works span,
  body.fp-viewing-13 #main-nav-works span,
  body.fp-viewing-14 #main-nav-works span,
  body.fp-viewing-15 #main-nav-works span,
  body.fp-viewing-16 #main-nav-works span
    color #b1b1b1
    &:after,
    &:before
      width 0%

  body.fp-viewing-17 #main-nav-contacts span
    color #b1b1b1
    &:after,
    &:before
      width 0%


  body.fp-viewing-7 #header ul li button span,
  body.fp-viewing-9 #header ul li button span,
  body.fp-viewing-10 #header ul li button span,
  body.fp-viewing-11 #header ul li button span,
  body.fp-viewing-13 #header ul li button span,
  body.fp-viewing-14 #header ul li button span,
  body.fp-viewing-16 #header ul li button span
    color #fff
    &:after,
    &:before
      background #fff
  body.fp-viewing-7 #main-nav-works span,
  body.fp-viewing-9 #main-nav-works span,
  body.fp-viewing-10 #main-nav-works span,
  body.fp-view1ng-11 #main-nav-works span,
  body.fp-view1ng-13 #main-nav-works span,
  body.fp-view1ng-14 #main-nav-works span,
  body.fp-view1ng-16 #main-nav-works span
    color #fff
    &:after,
    &:before
      width 0%


  body.fp-viewing-8 #header ul li button span,
  body.fp-viewing-12 #header ul li button span,
  body.fp-viewing-15 #header ul li button span
    color #252525
    &:after,
    &:before
      background #252525
  body.fp-viewing-8 #main-nav-works span,
  body.fp-viewing-12 #main-nav-works span,
  body.fp-viewing-15 #main-nav-works span
    color #252525
    &:after,
    &:before
      width 0%

body.fp-viewing-8 #main-nav-works span,
body.fp-viewing-9 #main-nav-works span,
body.fp-viewing-10 #main-nav-works span,
body.fp-viewing-11 #main-nav-works span,
body.fp-viewing-12 #main-nav-works span,
body.fp-viewing-13 #main-nav-works span,
body.fp-viewing-14 #main-nav-works span,
body.fp-viewing-15 #main-nav-works span,
body.fp-viewing-16 #main-nav-works span,
body.fp-viewing-8 #header ul li button span,
body.fp-viewing-9 #header ul li button span,
body.fp-viewing-10 #header ul li button span,
body.fp-viewing-11 #header ul li button span,
body.fp-viewing-12 #header ul li button span,
body.fp-viewing-13 #header ul li button span,
body.fp-viewing-14 #header ul li button span,
body.fp-viewing-15 #header ul li button span,
body.fp-viewing-16 #header ul li button span
  transition-delay 1s !important
  &:after,
  &:before
    transition-delay 1s !important